Django>=5.0
djangorestframework>=3.14
django-cors-headers>=4.3
python-dotenv>=1.0
psycopg2-binary>=2.9
Pillow>=10.2
gunicorn>=21.2
whitenoise>=6.6
drf-yasg>=1.21
PyJWT>=2.8
django-filter>=23.5
markdown>=3.5
